/* Grid Container */
.home {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr; /* Default: One card per row (mobile) */
    max-width: 1200px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card image {
    width: 100%;
}

.card h3 {
    margin: 1rem 1rem 0.5rem;
}

.card p{
    margin: 0 1rem 2rem;
    line-height: 1.4em;
    max-height: 2.8em;
    text-overflow: ellipsis; /* Add three dots at the end of the trimmed line */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 1;
    overflow: hidden; /* if text is in 3 lines, then content will be clamed. */
    -webkit-box-orient: vertical;
}

/* Responsive */
@media (min-width: 601px) { /* For small&large tablets */
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    }
}

@media (min-width: 1200px) { /* For desktops */
    .grid {
        grid-template-columns: repeat(3, 1fr); /* Three cards per row */
    }
}
