.footer {
    width: 100%;
    background-color: #b2cbcb;
    border-top: 0.5px solid #d8dddd;
    padding: 1.5rem;
    text-align: left;
    box-sizing: border-box;
    position: sticky;
    left: 0;
    bottom: 0;
    right: 0;
}
  
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #262727;
}
  
.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 0.5rem;
}

.column ul li a {
    text-decoration: none;
    color: inherit;
}

.column a {
    text-decoration: none;
    color: inherit;
}

.column p {
    margin: 0.5rem 0;
}

/* mobile */
@media (max-width: 600px) {
    .container {
        flex-direction: row;
        gap: 2rem; /* space between columns */
        font-size: 0.8rem;
    }

    .column {
        margin: 0 auto;
        text-align: left;
    }

    .column p {
        margin: 4px;
    }
}