.navbar {
    width: 100%;
    background-color: #b2cbcb;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-container {
    display: flex; 
    margin: 0 auto;
    color: #262727;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: inherit;
}

/* mobile */
@media (max-width: 600px) {
    .navbar {
        flex-direction: row;
        font-size: 0.9rem;
    }

    .navbar ul {
        gap: 1rem;
    }
}